# Core functionality - changes here should be rare!
/src/app.py                   @yassinemiladi21
/src/backend/database.py      @yassinemiladi21
/src/backend/routers/auth.py  @yassinemiladi21

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yassinemiladi21
